@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container{
  width: 89%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: auto;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.box{
  width: 35%;
  /* height: auto; */
  float: left;
  background-color:  #fff;
  border-radius: 5px;
  box-shadow: 0 7px 7px gray;
  margin: 20px 20px;
  /* margin-top: 450px; */
  margin-left: 50px;
  transition: 0.2s;
  flex-wrap: wrap;
  justify-content: center;
  display: flex ;

}
.box h1{
  margin-left: 15px;
  transition: 0.2s;
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  display: flex ;
  align-items: center;

} 
.box p{
  font-size: 19px;
  line-height: 18px;
  height: auto;
  padding: 0 15px 15px 15px;
  overflow: hidden;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#btn{
  background-color: orange;
  color: #fff;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 5px;
  float: right; 
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}
#btn:hover{
  background-color: black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;}
#ap , #jm , #ani{
  margin-top: 350px;
  /* margin: auto; */
  padding: auto;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
header{
  text-align: center;
  font-family: serif;
  position: top;
  
}
.icon-bar {
  width: 100%; /* Full-width */
  
    overflow: 10px; /*Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 30%; /* Equal width (3 icons with 20% width each = 100%) */
  padding: 11px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #4b7aff; /*White text color */ 
  font-size: 30px; /* Increased font size */
  /* background-color: red; */
}
.icon-bar a:hover {
  background-color: black; /* Add a hover color */
}

 /* .active {
  background-color: #00ff00;/* Add an active/current color */
/*}  */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

::selection{
  color: #fff;
  background: #4285f4;
} */
.wrapper{
  width: 370px;
  margin: 85px auto 0;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.bg{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
 
}
.bg{
	opacity:0.9;
}
.txt{
  position: sticky;
  top: 1000%;
  text-align: center;
  background-color: darkslategrey;

}
/* #btn1{
  background-color: teal;
  color: #fff;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 5px;
  float: right; 
}
#btn1:hover{
  background-color: red;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
} */
.logo img{
  width: 3%;
  border: 3px solid white;
  border-radius: 50px;
  /* display: flex;
  align-items: center; */
 }
 .bottom a{
  font-size: 30px;
  color: red;
 }
 /* @media (max-width: 1200px){
   .container .box{
    flex: 1 1 21rem;
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: auto;
    align-self: normal;

   }
 } */